<% if @item.errors.any? %>
  <%= render 'shared/display_errors', object: @item %>
<% end %>

<div class="well">
  <%= form_for ([@list,@item]) do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <br/>
    <div class="control-group">
      <%= f.label "Categories" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <%= b.label(class: "checkbox inline") { b.check_box(class: "checkbox") + b.text } %>
      <% end %>
    </div>
    <%= f.submit(@item.new_record? ? "Create Item" : "Edit Item", class: 'btn btn-primary') %>
  <% end %>
</div>